/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16pt;
}

.main {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}



/* Form */

.add-book {
  margin-bottom: 10px;
}

.form-popup {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: 1px solid #777;
  padding: 10px;
}

/* Container */


.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  background-color: #CCC9A1;
  min-height: 100vh;
}

/* Card */

.wrapper {
  padding: 10px;
  width: 50%;
  perspective: 1000px;
}
@media (min-width: 768px) {
  .wrapper {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 16.66%;
  }
}

.card {
  background-color: #4C230A;
  color: #F0FFCE;
  height: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #444;
  position: relative;
  transition: background-color 0.2s, transform 0.8s, height 0.8s, width 0.8s;
  transform-style: preserve-3d;
}
.card:hover {
  background-color: rgba(76, 35, 10, .8);
}

.flip {
  transform: rotateY(180deg);
}

.card p {
  margin: 10px;
  font-size: 16pt;
}

.card-front, .card-back{
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-back {
  background-color: #A53F2B;
  color: #280004;
  border-radius: 10px;
  transform: rotateY(180deg);
}

/* Buttons */

.add-button {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.plus {
  font-size: 60px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #A53F2B;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}